.grid-container {
  height: 100vh;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: fit-content(40%) auto 40px;
  grid-template-areas:
  ". h h h h h h h h h h h"
  "m c c c c c c c c c e e"
  "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
  display: flex;
}

.menu {
  grid-area: m;
}

.content {
  grid-area: c;
}

.extra {
  grid-area: e;
}

.footer {
  grid-area: f;
}


/* BASIC COLORS COLORS  */
.grid-container > div {
    display: flex;
    color: #ffeead;
}

html, body {
  background-color: #ffeead;
  margin: 0;
}

.grid-container > div:nth-child(1n) {
  background-color: #96ceb4;
}

.grid-container > div:nth-child(2n) {
      background-color: #ff6f69;
}

.grid-container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.grid-container > div:nth-child(4n) {
  background-color: #ff6f69
}

.grid-container > div:nth-child(5n) {
      background-color: #ffcc5c;
}
