.codeManager-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

.codeManager-container h4 {
  text-align: center;
  padding: 5px;
  width: 100%;
}

.codeManager-container Label {
  margin: 0;
}

.codeManager-container Button {
  font-weight: bold;
  margin: 10px 0;
}

.code-list-container {
  margin-top: 10px;
  display: flex;
  /* align-self: flex-start; */
}

.custom-control-label:before{
  background-color:white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #557A95;
}

/* BUTTON STYLE */
.toggleButton {
  cursor: pointer;
  font-size: 14px;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin: 5px 5px 10px 5px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

.toggleButton:hover {
  color: #000000;
  background-color: #7395AE;
}

.code {
  font-size: 18px;
}

/* MODAL */

/* Outer container (document) */
.custom-modal {
  max-width: 80vw;
  width: 80vw;
}

/* container for entire dialog */
.modal-content {
  max-height: 80vh;
  height: 80vh;
  max-width: 80vw;
  width: 80vw;
}

.modal-header {}
.modal-body {}

.my-icon {
  float: right;
}

.code-element {
  padding: 5px;
}

.code-element:hover {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.code-element:after {
  content: '\f105';
  font-family: FontAwesome;
  float: right;
  padding-left: 5px;
}
