.codeManager-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

.codeManager-container h4 {
  text-align: center;
  padding: 5px;
  width: 100%;
}

.codeManager-container Label {
  margin: 0;
}

.codeManager-container Button {
  font-weight: bold;
  margin: 10px 0;
}

.code-list-container {
  margin-top: 10px;
  display: flex;
  /* align-self: flex-start; */
}

.custom-control-label:before{
  background-color:white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #557A95;
}

/* BUTTON STYLE */
.toggleButton {
  cursor: pointer;
  font-size: 14px;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin: 5px 5px 10px 5px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

.toggleButton:hover {
  color: #000000;
  background-color: #7395AE;
}

.code {
  font-size: 18px;
}

/* MODAL */

/* Outer container (document) */
.custom-modal {
  max-width: 80vw;
  width: 80vw;
}

/* container for entire dialog */
.modal-content {
  max-height: 80vh;
  height: 80vh;
  max-width: 80vw;
  width: 80vw;
}

.modal-header {
  color: #3d3c40;
}

#modal-title {
  padding-left: 15px;
}

.modal-body {}

.my-icon {
  float: right;
}

.code-element {
  padding: 5px;
}

.code-element:hover {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.code-element:after {
  content: '\f105';
  font-family: FontAwesome;
  float: right;
  padding-left: 5px;
}

/* List */
ul#quoteList {
  counter-reset: index;
  padding: 0;
}

/* List element */
#quoteList li.quote-element {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
#quoteList li.quote-element::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.1rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, #7395AE, #3d3c40);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quoteUsername{
  content: counters(index, ".", decimal-leading-zero);
  padding-left: 5px;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
  background-image: linear-gradient(to bottom, #7395AE, #3d3c40);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(61, 60, 64,0.2);
}

@use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions
}
