.toolbar-container {
  padding: 10px;
  width: 100%;
}

.label {
  white-space: nowrap;
  margin: 0 10px;
  color: #FFFFFF;
}

.toolbar-innerContainer {
  display: contents;
}

.toolbar-innerContainer > * {
  margin: 5px;
}

.toolbarButton {
  font-size: 14px;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

.toolbarButton:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media (max-width: 640px) {

  .toolbar-innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toolbar-innerContainer > * {
    margin: 5px;
  }
}

.toolbarSelect {
  height: 34;
  font-size: 14px;
  background-color: transparent;
  display:inline-block;
  padding:0.45em 1.2em;
  border:0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

select option {
  color: #454545;
  background-color: white;
}
