:root {
  --base: #5D5C61;
  --base-dark: #3d3c40;
  --primary: #557A95;  /* Main Color */
  --secondary: #7395AE; /* Main Color shade */
  --white: #FFFFFF;
  --feature1: white;
  --feature2: white;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 35px auto fit-content(40%);
  grid-template-areas:
  "h h h h h h h h h h h h"
  "m m c c c c c c c e e e"
  "f f f f f f f f f f f f";
}

.header {
  background-color: var(--base-dark);
  grid-area: h;
  display: flex;
}

.menu {
  grid-area: m;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #5D5C61;
}

.content {
  max-height: 100%;
  background-color: #557A95;
  grid-area: c;
}

.extra {
  display: flex;
  justify-content: center;
  grid-area: e;
  background-color: #5D5C61;
}

.footer {
  grid-area: f;
  background-color: #17252A;
}


/* BASIC COLORS COLORS  */
.grid-container > div {
    display: flex;
}

html, body {
  margin: 0;
}

html, body, #root, #root>div {
  height: 100vh !important;
}

/* FADE ANIMATION */
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.chatToggle {
  cursor: pointer;
  font-size: 14px;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin: 5px 5px 10px 5px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: #FFFFFF !important;
  text-align: center;
  transition: all 0.2s;
  position: absolute;
  right: 0;
  bottom: 0;
}

.chatToggle:hover {
  color: #000000;
  background-color: #7395AE;
}

/* .grid-container > div:nth-child(1n) {
  background-color: #96ceb4;
}

.grid-container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.grid-container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.grid-container > div:nth-child(4n) {
  background-color: #ff6f69
}

.grid-container > div:nth-child(5n) {
  background-color: #ffcc5c;
} */
